:root {
    --backgroundColor: #efefef;
    --borderColor:#1f1f1f;
    --timerSize: 2em;
}

body {
    background-color: var(--backgroundColor);
    touch-action: manipulation;
}

header{
    display: flex;
    border-bottom: 1px solid var(--borderColor);
}
header div{
    padding: 0 1em;
}
.title{
    margin: auto;
}
.explain{
    margin: auto;
}

main .controls{
    padding: 0 1em;
    display: flex;
}
main input{
    width: 4em;
}
#alert{
    height: 4em;
}
.timer-controls{
    margin: auto;
}
.space{
    width: 0.5em;
    margin: 0;
}
.sound-controls{
    margin: auto;
    font-size: 0.7em;
}
#display{
    font-size: var(--timerSize);
    text-align: center;
    margin-top: 0.2em;
    border-radius: 0.2em;
    border: 1px solid var(--borderColor);
}