:root {
    --backgroundColor: #efefef;
    --borderColor:#1f1f1f;
    --timerSize: 4em;
}

body {
    background-color: var(--backgroundColor);
}

header{
    display: flex;
    border-bottom: 1px solid var(--borderColor);
}
header div{
    padding: 0.5em;
}
.title{
    margin: auto;
}
.explain{
    margin: auto;
}

main{
    display: flex;
}
main div{
    padding: 1em;
}
.settings p{
    display: block;
}
main input{
    width: 4em;
}
#display{
    font-size: var(--timerSize);
    border-radius: 1em;
    border: 1px solid var(--borderColor);
}