:root {
    --backgroundColor: #efefef;
    --borderColor:#1f1f1f;
    --timerSize: 4em;
}

body {
    background-color: var(--backgroundColor);
    touch-action: manipulation;
}

header{
    display: flex;
    border-bottom: 1px solid var(--borderColor);
}
header div{
    padding: 0.5em;
}
.title{
    margin: auto;
}
.explain{
    margin: auto;
}

main .settings{
    padding: 1em;
}
main input{
    width: 4em;
}
#display{
    font-size: var(--timerSize);
    text-align: center;
    border-radius: 0.2em;
    border: 1px solid var(--borderColor);
}